/* start basic rules */
html {
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
    -webkit-scroll-padding-top: 4rem;
    scroll-padding-top: 4rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s ease-in-out;
    text-transform: capitalize;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
:root {
    --primary-clr: #EB4D4B;
    --secondary-clr: #4834D4;
    --white-clr: #ffffff;
    --text-clr: #cccccc;
    --black-clr: #333333;
}
::selection {
    background-color: var(--primary-clr);
    color: var(--white-clr);
}
body {
    height: 1000vh;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
p {
    color: var(--text-clr);
    line-height: 1.7;
}
img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
.btn {
    width: 160px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    background-color: var(--secondary-clr);
    color: var(--white-clr);
}
.btn:hover {
    background-color: var(--primary-clr);
    letter-spacing: 1px;
}
.heading {
    position: relative;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
}
.heading::after {
    content: '';
    position: absolute;
    bottom: -.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 9rem;
    height: .2rem;
}
/* end basic rules */
/* header inputs starts */
#open-nav-input,
#close-nav-input {
    display: none;
}
#open-nav-input:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
}
#open-nav-input:checked ~ .overlay .sidebar {
    transform: translateX(0);
}
/* header inputs ends */
/* header section starts */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: .75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-clr);
    box-shadow: 0 .3rem .5rem rgba(0, 0 , 0, .1);
}
.open-nav-btn {
    font-size: 1.25rem;
    color: var(--white-clr);
    cursor: pointer;
}
.brand {
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--white-clr);
    letter-spacing: 1px;
}
.header-form {
    position: relative;
}
.header-form input {
    width: 30px;
    height: 30px;
    border-radius: 5rem;
    padding-left: 15px;
}
.header-form:hover input,
.header-form input:focus,
.header-form input:not(:placeholder-shown) {
    width: 10rem;
}
.header-form input::placeholder {
    color: transparent;
}
.header-form:hover input::placeholder,
.header-form input:focus::placeholder,
.header-form input:not(:placeholder-shown) {
    color: #666;
}
.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    color: var(--black-clr);
}
/* header section starts */
/* sidebar starts */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
}
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    max-width: 23.5rem;
    height: 100vh;
    padding: 5rem 1rem 1rem;
    display: flex;
    align-items: center;
    background-color: #222;
    transform: translateX(-100%);
}
.close-nav-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--white-clr);
    cursor: pointer;
}
.navbar {
    width: 100%;
}
.navbar a {
    display: block;
    padding: 10px 25px;
    background-color: var(--white-clr);
    border-radius: 30px;
    margin: 15px 0;
    text-align: center;
    color: var(--black-clr);
}
.navbar a:hover {
    background-color: var(--primary-clr);
    color: var(--white-clr);;
}
/* sidebar ends */
/* home section starts */
.home {
    position: relative;
    min-height: 100vh;
    padding: 7rem 1rem 5rem;
    background-color: var(--black-clr);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
@media screen and (max-width: 800px) {
    .home {
        flex-direction: column;
    }
}
.watch-img {
    flex: 0 0 40%;
    width: 40vw;
}
@media screen and (max-width: 576px) {
    .watch-img {
        width: 60vw;
    }
}
.text-content {
    flex: 0 0 50%;
}
@media screen and (max-width: 800px) {
    .watch-img {
        order: 1;
    }
    .text-content {
        order: 2;
        text-align: center;
    }
}
.text-content h1 {
    font-size: 2.5rem;
    color: var(--white-clr);
    margin-bottom: .5rem;
}
.watch-stars {
    margin: .75rem 0;
}
.watch-stars i {
    color: gold;
}
.watch-price {
    font-size: 2rem;
    color: var(--primary-clr);
    margin-bottom: 1rem;
}
/* end section starts */
/* products section starts */
.products {
    padding: 3rem 0 0;
}
.products .heading {
    color: var(--secondary-clr);
}
.products .heading::after {
    width: 5rem;
    background-color: var(--primary-clr);
}
.products-container {
    padding-bottom: 3rem;
}
.products-container > h3 {
    font-size: 2rem;
    color: var(--primary-clr);
    padding-left: 3rem;
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
    .products-container > h3 {
        padding-left: 0;
        text-align: center;
    }
}
.products-container .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 1.5rem;
}
.product {
    position: relative;
    overflow: hidden;
    border-radius: .3rem;
    box-shadow: 0 0 .3rem rgba(0, 0 , 0, .3);
}
.product .product-img {
    height: 350px;
}
.product .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product .content {
    padding: 1.5rem 1.25rem;
    text-align: center;
}
.product .product-name {
    font-size: 1.5rem;
    color: var(--secondary-clr);
    margin-bottom: .5rem;
}
.product .prodcut-price {
    font-size: 1.25rem;
    color: var(--primary-clr);
}
.product .product-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem 1.25rem;
    background-color: var(--black-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: scale(0);
    visibility: hidden;
}
.product:hover .product-info {
    transform: scale(1);
    visibility: visible;
}
.product-title {
    font-size: 2rem;
    color: var(--white-clr);
    margin-bottom: .5rem;
}
.product-desc {
    margin-bottom: 1rem;
}
.share-product {
    margin-top: 1.5rem;
}
.share-product a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin: 0 7px;
    background-color: #eee;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: var(--primary-clr);
}
.share-product a:hover {
    background-color: var(--primary-clr);
    color: var(--white-clr);
}
/* products section ends */
/* reviews section starts */
.reviews {
    padding: 3rem 0 4rem;
    background-color: var(--secondary-clr);
}
.reviews .heading {
    color: var(--primary-clr);
}
.reviews .heading::after {
    background-color: var(--white-clr);
}
.review {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1.5rem;
}
@media screen and (max-width: 768px) {
    .review {
        margin-top: calc(2rem + 55px);
    }
}
.review-writer-info {
    flex: 0 0 30rem;
    max-width: 100%;
    padding: 1.5rem 1rem;
    background-color: var(--white-clr);
    border-radius: .3rem .3rem 0 5rem;
}
@media screen and (max-width: 768px) {
    .review-writer-info {
        padding-top: 65px;
    }
} 
.review-writer-info p {
    color: var(--black-clr);
}
.review-writer-info p i {
    color: var(--primary-clr);
}
.review-writer-info h3 {
    margin-top: 1rem;
    text-align: end;
    font-size: 1.25rem;
    color: var(--primary-clr);
}
.review-writer-pic {
    display: flex;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50% 50% 50% 0;
    border: .3rem solid var(--primary-clr);
}
@media screen and (max-width: 768px) {
    .review-writer-pic {
        position: absolute;
        top: -50px;
        border-radius: 50%;
        border-color: var(--white-clr);
    }
}
.review-writer-pic img {
    width: 100%;
    height: 100%;
}
/* reviews section ends */
/* offer section starts */
.offer {
    padding: 3rem 0;
}
.offer .heading {
    color: var(--secondary-clr);
}
.offer .heading::after {
    background-color: var(--primary-clr);
}
.offer .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 3rem 1.5rem;
}
.offer-box img {
    display: flex;
    width: 20rem;
    height: 12rem;
    margin: 0 auto;
}
.offer-box h3 {
    text-align: center;
    font-size: 1.25rem;
    color: var(--primary-clr);
}
/* offer section ends */
/* deal section starts */
.deal {
    padding: 3rem 0;
    background-color: var(--primary-clr);
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem 0;
}
.deal-img,
.deal-text {
    flex: 0 0 20rem;
}
.deal-img {
    width: 30vw;
}
@media screen and (max-width: 768px) {
    .deal-text {
        text-align: center;
    }
}
.deal-name {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-clr);
    margin-bottom: .25rem;
}
.deal-offer {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--white-clr);
    margin-bottom: .5rem;
}
.deal-price {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white-clr);
    margin-bottom: 1rem;
}
.deal .btn:hover {
    background-color: var(--black-clr);
    letter-spacing: 1px;
}
/* deal section ends */
/* brands section starts */
.brands {
    padding: 3rem 0;
}
.brands .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 3rem 1.5rem;
}
/* brands section ends */
/* newsletter section starts */
.newsletter {
    padding: 3rem 0;
    background-color: #9999FF;
    text-align: center;
}
.newsletter .sec-title {
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: var(--white-clr);
}
.newsletter-desc {
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: var(--white-clr);
}
.newsletter-form {
    width: 100%;
    max-width: 25rem;
    margin: 1rem auto 0;
}
.newsletter-form input {
    width: 100%;
    padding-left: 15px;
    height: 40px;
    border-radius: 5rem;
    background-color: var(--black-clr);
    color: var(--white-clr);
    margin-bottom: 1rem;
}
.newsletter-form .btn {
    background-color: var(--primary-clr);
}
.newsletter-form .btn:hover {
    background-color: var(--black-clr);
    letter-spacing: 1px;
}
/* newsletter section ends */